<section class="specialsAndPromotionsContainer">

    <div id="listings">
        <h1>Call Now to Learn More About Current Specials and Promotions</h1>
        <p class="sub_title">Save up to 30% on your home alarm system!</p>

        <div class="listings">
            <div class="row shaded" ng-click="drop_0 = !drop_0" ng-class="{'active': drop_0}">
                <div class="col-xs-3 logo col">
                    <img src="/assets/images/adt.png" alt="ADT Monitored Security Systems">
                </div>
                <div class="col-xs-4 info col" id="drop_0">
                    <p class="name">ADT Monitored Security Systems</p>
                    <p class="location">ADT Home Security, Wireless Security, Video Surveillance, and more.</p>
                    <p class="desc"><span class="zoom">Company Description</span></p>
                </div>
                <div col class="rating five col-xs-2 col">
                    <p>5/5 stars</p>
                </div>
                <div cl colass="phone col-xs-3 col">
                    <p class="call">Call For a Free Quote</p>
                    <p class="number">1 (855) 993-3382</p>
                </div>
            </div>
            <div class="row notes collapse" ng-class="{'in': drop_0}">
                <div class="col-xs-7 note col">
                    <h3>Company Description:</h3>
                    <p>Stay Safe and Secure with help from America's leading home security company and Protect Your Home - ADT Authorized Dealer. There is nothing more important than protecting your home and family, which is why we offer state-of-the-art security services at an affordable price.</p>
                </div>
                <div class="reviews col-xs-5 col">
                    <h3>Customer Reviews:</h3>
                    <ul>
                        <li>"ADT was able to get out immediately and give us an estimate. We didn’t need to shop around after that. We were up and being monitored by the weekend. Thanks for everything." - Shelly C.</li>
                        <li>"Very friendly installer helped me make choices and explained what he was doing thoroughly. Made sure I would understand the home alarm system." - Peter C.</li>
                        <li>"We went with ADT for our new home alarm system. The Installation was quick and the service has been great. Haven’t had any problems." - Paul D.</li>
                    </ul>
                </div>
            </div>

            <div class="row" ng-click="drop_1 = !drop_1" ng-class="{'active': drop_1}">
                <div class="logo col-xs-3 col">
                    <img src="/assets/images/vivint.png" alt="Vivint Home Security">
                </div>
                <div class="info col-xs-4 col" id="drop_1">
                    <p class="name">Vivint Home Security</p>
                    <p class="location">Vivint offers award-winning products and services to help protect your family and simplify your life.</p>
                    <p class="desc"><span class="zoom">Company Description</span></p>
                </div>
                <div class="rating five col-xs-2 col">
                    <p>5/5 stars</p>
                </div>
                <div class="phone col-xs-3 col">
                    <p class="call">Call For a Free Quote</p>
                    <p class="number">1 (855) 776-4352</p>
                </div>
            </div>
            <div class="row notes collapse" ng-class="{'in': drop_1}">
                <div class="col-xs-7 note col">
                    <h3>Company Description:</h3>
                    <p>Safeguard your home against theft, fire, and intrusion. When you choose the Home Security package from Vivint, you get premier protection—locks, alarms, motion detectors, and a variety of sensors.</p>
                </div>
                <div class="reviews col-xs-5 col">
                    <h3>Customer Reviews:</h3>
                    <ul>
                        <li>"You have the COOLEST technicians - thanks for getting someone over as quick as possible to fix the system." - Kimberly W.</li>
                        <li>"My grandmother just installed Vivint into her home. Our sales rep Leah C. was very helpful and professional! Great customer service! Thank you!" - April B.</li>
                        <li>"Thanks to Jeremy &amp; Casey with Vivint my family feels protected AGAIN! This is our 3rd system &amp; happy to know that our home in Florida is well protected when we aren't there! Jeremy THANK YOU for making that happen!" - Robin D.</li>
                    </ul>
                </div>
            </div>
            <div class="row shaded" ng-click="drop_2 = !drop_2" ng-class="{'active': drop_2}">
                <div class="logo col-xs-3 col">
                    <img src="/assets/images/frontpoint-security.png" alt="Frontpoint">
                </div>
                <div class="info col-xs-4 col" id="drop_2">
                    <p class="name">Frontpoint</p>
                    <p class="location">From 100% wireless equipment and 100% cellular technology to remote access and control via our free mobile app, Frontpoint’s got you covered.</p>
                    <p class="desc"><span class="zoom">Company Description</span></p>
                </div>
                <div class="rating five col-xs-2 col">
                    <p>5/5 stars</p>
                </div>
                <div class="phone col-xs-3 col">
                    <p class="call">Call For a Free Quote</p>
                    <p class="number">1 (855) 217-4255</p>
                </div>
            </div>
            <div class="row notes collapse" ng-class="{'in': drop_2}">
                <div class="note col-xs-7 col">
                    <h3>Company Description:</h3>
                    <p></p><p>We’re Frontpoint, and we do home security differently. We believe that home security should make you feel more than just secure; it should make you feel great.</p>
                    <p>By combining proven equipment, reliable solutions and genuinely helpful service, we provide you with peace of mind that can’t be beat. From 100% wireless equipment and 100% cellular technology to remote access and control via our free mobile app, Frontpoint’s got you covered.</p>
                    <p>So if you’re ready for complete protection from a system that fits your home and lifestyle, look no further than Frontpoint.</p>
                    <p>Validate this review on Facebook</p>
                </div>
                <div class="reviews col-xs-5 col">
                    <h3>Customer Reviews:</h3>
                    <ul>
                        <li>
                            “ We’ve had a Frontpoint security system for about five months now and it made all the difference three months ago when someone broke into our home while we were away. Thanks to the loud alarm sound and the fact that the culprit knew the police were on their way, he left the house after less than a minute and had little opportunity to investigate our house for things to take. The follow-up call I received from Frontpoint the next day was, I think, just as helpful. The agent discussed the break-in with me and asked if there was anything Frontpoint could do to assist. We agreed that an additional sensor and extra Frontpoint signs and stickers would be helpful. After putting me on a brief hold to finalize the order, the agent came back on and told me that Frontpoint would like to send me the additional items free of charge. If that isn’t excellent customer service, then I don’t know what is.”
                            – John R.
                        </li>
                        <li>“ I did a lot of research before deciding on Frontpoint. I had just bought my first house and wanted to make sure it had the best. I was standing in my new house minutes after receiving the keys and logged onto my iPad to have a service representative call me back. I hit the send button, turned around and my cell phone rang. Unbelievably, at the time, it was Frontpoint calling. I told the young lady that I couldn’t believe they called that fast and she hit me with a line that sold me on the spot... ‘Would you expect a slow response from the company whose hands you are placing your security in?’ WOW! I have re-told that story dozens of times and almost a year later, Frontpoint has served me flawlessly.”
                        – Jim S.</li>
                        <li>“ This company by far has the best customer service over the phone. They are quick to respond when the alarm is tripped (and even quicker to dispatch help if you give the wrong password ... oops on my part, but great for peace of mind!) There is always someone there if you have questions. Their phone etiquette just blows me away! I just can’t say enough good things about every one that I have had the pleasure of speaking with so far! Just awesome customer service.”
                        – Tiffany K.</li>
                    </ul>
               </div>
            </div>
        </div>


        <p>Would you rather use our online form to get free quotes? <a href="https://www.topalarmcompanies.com/secure/quote.php">Click Here</a></h2></p>
        <div class="disclaimer-text">
            The rankings and ratings expressed on this site are the opinion of topalarmcompanies.com and are subject to change. To keep this valuable service free, we generate advertising revenue from the companies featured in our ranking.
        </div>

    </div>

</section>
