.thumbnails {
  border-top: 1px dotted #ccc;
  margin-top: 1px;
  position: relative;

  .holder {
    margin: 0 auto;

    .thumbnail {
      text-indent: -9999px;
      outline: none;
      border: none;
      margin: 0 10px;
    }

  }

}