<div id="quotebox" class="grid_7 alpha omega text-center">
    <h3>Get Started!</h3>

    <div class="title_sub condensed">It's Fast, Simple, &amp; Free</div>

    <div class="buttons">
        <!-- calls -->
        <div>
            <button class="btn btn-info btn-lg" ng-click="getStarted.generateQuotesOnline()">Generate quotes online</button>
        </div>

        <div class="or">
            <span>Or</span>
        </div>

        <div class="speak">
            <button class="btn btn-primary" ng-click="getStarted.speakWithARepresentative()">Speak with a representative</button>
        </div>
    </div>

    <div id="verisign">
        <a href="https://www.positivessl.com" target="_blank"><img src="https://www.positivessl.com/images-new/PositiveSSL_tl_trans.png" alt="Positive SSL on a transparent background" title="Positive SSL on a transparent background" border="0"></a>
    </div>

</div>