<div id="helpbox">
    <div id="helpbox-title" class="center">
        Help Center
    </div>

    <div id="helpq1" class="helpbox-div center">
        What kind of alarm system do I need?
        <div id="helpa1" class="help" style="display: none">
            A brand name is not as important as quality. Choose from a hardwired or wireless
            system and be sure to get alarm system monitoring for the best protection.
        </div>
    </div>

    <div id="helpq2" class="helpbox-div center">
        How do I select the right security company?
        <div id="helpa2" class="help" style="display: none">
            You should take into consideration not just the price of your security system, but
            also the experience and customer satisfaction rating of the company, as well as the
            monitoring services and warranty they offer.
        </div>
    </div>

    <div id="helpq3" class="helpbox-div center">
        Is my information Secure?
        <div id="helpa3" class="help" style="display: none">
            Your information is secured by a 256-bit encryption - the highest level of protection
            available. Only companies affiliated with TopAlarmCompanies.com will receive your information.
        </div>
    </div>

    <div id="helpmore" style="display: none">
        <div id="helpq4" class="helpbox-div center">
            How many comparison quotes will I receive?
            <div id="helpa4" class="help" style="display: none">
               You will receive up to 4 free alarm system quotes from the top home security companies
               in your area to help you choose the best coverage for your needs based on price,
               quality of service and products.
            </div>
        </div>

        <div id="helpq5" class="helpbox-div center">
            How much does the "average" security system cost?
            <div id="helpa5" class="help" style="display: none">
                Most home security companies offer installation for less than $100 and monthly p
                ayments vary from $25 per month to $50 per month or more, depending on your level
                of coverage protection.
            </div>
        </div>

        <div id="helpq6" class="helpbox-div center">
            How quickly can my system be installed?
            <div id="helpa6" class="help" style="display: none">
                This depends on many factors, such as the security company you choose, the amount
                of security products you are having installed, where you are located and the size
                of your building.
            </div>
        </div>
    </div>

    <div id="helpshowmore" class="helpbox-div center" style="font-size: 12px;">
        <strong>More &gt;&gt;</strong>
    </div>

    <div id="helpshowless" class="helpbox-div center" style="font-size: 12px; display: none;">
        <strong>&lt;&lt; Less</strong>
    </div>
</div>