<p id="termBox" class="terms">
  <strong>Your personal information is important and is protected by 256 bit encryption!</strong><br>
  Typing my name and clicking 'Get Quotes' gives my express written consent to be contacted directly by ADT (or an ADT Authorized Dealer), Vivint, FrontPoint Security, Security Pro, Protect America, CPI Security Systmes, LiveWatch Security which may be through the use of an automated dialer at the numbers provided, including cell phones, even if I am on a DNC list.
</p>